@{
    ViewData["Title"] = "Home Page";
}
<div class="center-container">
    <div class="text-center home-container">
        <h1 class="display-4">Witaj w aplikacji Delivery</h1>
        <p>Funcjonalności:</p>
        <ul>
            <li>Magazyn - podgląd obecnego stanu magazynu</li>
            <li>Automat paczkowy - Lokalizacja automatów paczkowych</li>
            <li>Transport - Lista kierowców</li>
            <li>Użytkownicy - Lista kierowców</li>
            <li>Paczki Automat - Lista paczek w autoamcie</li>
            <li>Paczki Transport - Lista paczek z ich dokładną specyfikacją</li>


        </ul>

    </div>
</div>