#global settings

html {
    font-size: 14px;
    background-image: linear-gradient(#1B1833, #F29F58);
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1400px)
{
    .container{
      
       
    }

    .home-container{
        max-width: 700px;
        margin-top: 40px
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(#1B1833, #441752);
    color: aliceblue;
    font-family: Arial;
}

.table{
    color: aliceblue;
}

label {
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid #0d6efd;
    margin: 15px 0px;
}

h1{
    font-weight: bolder;
}

p, li{
    text-align: left;
}

.btn{
    margin-top: 20px;
}

.btn-primary {
    background-color: #0d6efd;
    width: 100%;
    max-width: 300px;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #1156bb;
        border-color: #1156bb;
    }

.btn-info {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: aliceblue;
}

    .btn-info:hover {
        background-color: #1156bb;
        border-color: #1156bb;
        color: aliceblue;
    }

.btn-warning {
    background-color: #1e9992;
    border-color: #1e9992;
    color: aliceblue;
}

    .btn-warning:hover {
        background-color: #1a7d77;
        border-color: #1a7d77;
        color: aliceblue;
    }


.btn-login {
    background-color: #0d6efd;
    width: 100%;
    margin-top: 30px;
    max-width: 100%;
}

    .btn-login:hover {
        background-color: #1156bb;
        width: 100%;
        margin-top: 30px;
        max-width: 100%;
    }

.form-margin {
    margin-top: 100px;
    width: 100%;
}
